In [5]:
import pandas as pd
import numpy as np

In [6]:

book = pd.read_csv(r"C:\Users\DELL\Downloads\Books.csv.zip", compression='zip')
users = pd.read_csv(r"C:\Users\DELL\Downloads\Users.csv.zip", compression='zip')
rating = pd.read_csv(r"C:\Users\DELL\Downloads\Ratings.csv.zip", compression='zip')

C:\Users\DELL\AppData\Local\Temp\ipykernel_13720\1659037402.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  book = pd.read_csv(r"C:\Users\DELL\Downloads\Books.csv.zip", compression='zip')

In [7]:
book.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [8]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [9]:
rating.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [10]:
book.shape,rating.shape,users.shape

((271360, 8), (1149780, 3), (278858, 3))

In [11]:
book.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [12]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [13]:
rating.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [14]:
book.dropna(inplace=True)

In [15]:
users.drop(columns="Age",axis=1,inplace=True)

In [16]:
users.isnull().sum()

User-ID     0
Location    0
dtype: int64

In [17]:
book.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              0
Image-URL-S            0
Image-URL-M            0
Image-URL-L            0
dtype: int64

In [18]:
book.duplicated().sum()

np.int64(0)

In [19]:
rating.duplicated().sum()

np.int64(0)

In [20]:
users.duplicated().sum()

np.int64(0)

In [21]:
book_with_rating=book.merge(rating,on="ISBN",how="inner")

In [22]:
book_with_rating.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              0
Image-URL-S            0
Image-URL-M            0
Image-URL-L            0
User-ID                0
Book-Rating            0
dtype: int64

In [23]:
book_with_rating.duplicated().sum()

np.int64(0)

In [24]:
book_with_rating.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,5
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11400,0
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11676,8
4,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,41385,0

# popularity based recommender system

In [25]:
avg_rating=book_with_rating.groupby("Book-Title")["Book-Rating"].mean().reset_index()

In [26]:
avg_rating=avg_rating.rename(columns={"Book-Rating":"avg_rating"})

In [27]:
avg_rating

                                               Book-Title  avg_rating
0        A Light in the Storm: The Civil War Diary of ...    2.250000
1                                   Always Have Popsicles    0.000000
2                    Apple Magic (The Collector's series)    0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...    8.000000
4        Beyond IBM: Leadership Marketing and Finance ...    0.000000
...                                                   ...         ...
241060                                      Ã?Â?lpiraten.    0.000000
241061                     Ã?Â?rger mit Produkt X. Roman.    5.250000
241062                                Ã?Â?sterlich leben.    7.000000
241063                              Ã?Â?stlich der Berge.    2.666667
241064                                  Ã?Â?thique en toc    4.000000

[241065 rows x 2 columns]

In [28]:
num_rating=book_with_rating.groupby("Book-Title")["Book-Rating"].count().reset_index()
num_rating=num_rating.rename(columns={"Book-Rating":"num_rating"})

In [29]:
num_rating

                                               Book-Title  num_rating
0        A Light in the Storm: The Civil War Diary of ...           4
1                                   Always Have Popsicles           1
2                    Apple Magic (The Collector's series)           1
3        Ask Lily (Young Women of Faith: Lily Series, ...           1
4        Beyond IBM: Leadership Marketing and Finance ...           1
...                                                   ...         ...
241060                                      Ã?Â?lpiraten.           2
241061                     Ã?Â?rger mit Produkt X. Roman.           4
241062                                Ã?Â?sterlich leben.           1
241063                              Ã?Â?stlich der Berge.           3
241064                                  Ã?Â?thique en toc           2

[241065 rows x 2 columns]

In [30]:
popular_books=pd.merge(num_rating,avg_rating,on="Book-Title")

In [31]:
popular_books=popular_books[popular_books["num_rating"]>200]

In [32]:
popular_books

,Book-Title,num_rating,avg_rating
764,1984,284,4.454225
818,1st to Die: A Novel,509,3.575639
1048,2nd Chance,356,3.269663
1760,A Bend in the Road,346,3.364162
2120,A Case of Need,236,2.423729
...,...,...,...
234945,Wild Animus,2502,1.019584
236328,Wish You Well,234,3.012821
236718,Without Remorse,203,2.881773
240407,Zen and the Art of Motorcycle Maintenance: An ...,210,3.147619
240854,"\O\"" Is for Outlaw""",269,2.988848

In [33]:
popular_books=popular_books.sort_values(by="avg_rating",ascending=False).reset_index(drop=True)

In [34]:
popular_books

                                            Book-Title  num_rating  avg_rating
0    Harry Potter and the Prisoner of Azkaban (Book 3)         428    5.852804
1         Harry Potter and the Goblet of Fire (Book 4)         387    5.824289
2       Harry Potter and the Sorcerer's Stone (Book 1)         278    5.737410
3    Harry Potter and the Order of the Phoenix (Boo...         347    5.501441
4        Ender's Game (Ender Wiggins Saga (Paperback))         249    5.409639
..                                                 ...         ...         ...
288                                  Breathing Lessons         239    2.117155
289                                       Isle of Dogs         288    2.000000
290                           Slow Waltz in Cedar Bend         248    1.895161
291  Songs in Ordinary Time (Oprah's Book Club (Pap...         232    1.857759
292                                        Wild Animus        2502    1.019584

[293 rows x 3 columns]

In [35]:
final_popular_df=pd.merge(popular_books,book_with_rating,on="Book-Title",how="left")

In [36]:
final_popular_df

,Book-Title,num_rating,avg_rating,ISBN,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating
0,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,0439136350,J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,254,9
1,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,0439136350,J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,1903,0
2,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,0439136350,J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,2033,9
3,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,0439136350,J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,3300,10
4,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,0439136350,J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,4802,7
...,...,...,...,...,...,...,...,...,...,...,...,...
98440,Wild Animus,2502,1.019584,0971880107,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,275793,0
98441,Wild Animus,2502,1.019584,0971880107,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,276113,7
98442,Wild Animus,2502,1.019584,0971880107,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,276147,0
98443,Wild Animus,2502,1.019584,0971880107,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,276487,0
98444,Wild Animus,2502,1.019584,0971880107,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,276641,0

In [37]:
final_popular_df["Book-Title"].duplicated().sum()

np.int64(98152)

In [38]:
final_popular_df.drop_duplicates("Book-Title",inplace=True)

# top 50 popular books

In [39]:
top_30_popular_book=final_popular_df.head(30)

In [40]:
x=book_with_rating.groupby("User-ID")["Book-Rating"].count() > 200
educated_users=x[x].index

In [41]:
educated_users

Index([   254,   2276,   2766,   2977,   3363,   4017,   4385,   6251,   6323,
         6543,
       ...
       271705, 273979, 274004, 274061, 274301, 274308, 275970, 277427, 277639,
       278418],
      dtype='int64', name='User-ID', length=811)

In [42]:
filtered_rating=book_with_rating[book_with_rating["User-ID"].isin(educated_users)]

In [43]:
y=filtered_rating.groupby("Book-Title")["Book-Rating"].count()>50
famous_books=y[y].index

In [44]:
final_df=filtered_rating[filtered_rating["Book-Title"].isin(famous_books)]

In [45]:
pt=final_df.pivot_table(index="Book-Title",columns="User-ID",values="Book-Rating")

In [46]:
pt.fillna(0,inplace=True)

In [47]:
pt

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

In [48]:
from sklearn.metrics.pairwise import cosine_similarity

In [49]:
similarities=cosine_similarity(pt)

In [50]:
similarities[0]

array([1.        , 0.10255025, 0.01220856, 0.        , 0.05367224,
       0.02774901, 0.08216491, 0.13732869, 0.03261686, 0.03667591,
       0.02322418, 0.06766487, 0.02083978, 0.09673735, 0.08303112,
       0.11153543, 0.05100411, 0.02517784, 0.11706383, 0.        ,
       0.14333793, 0.07847534, 0.06150451, 0.08723968, 0.        ,
       0.07009814, 0.13658681, 0.07600328, 0.12167134, 0.00768046,
       0.01473221, 0.        , 0.07965814, 0.04522617, 0.01556271,
       0.09495938, 0.0182307 , 0.02610465, 0.07984012, 0.11679969,
       0.0569124 , 0.08354155, 0.08471898, 0.08785938, 0.05491435,
       0.0548505 , 0.27026514, 0.09779123, 0.06016046, 0.08958835,
       0.06748675, 0.        , 0.04468098, 0.01920872, 0.        ,
       0.05629067, 0.00557964, 0.07877059, 0.05219479, 0.18908177,
       0.        , 0.01240656, 0.02984572, 0.04279502, 0.12680125,
       0.16566735, 0.        , 0.13357242, 0.06615478, 0.        ,
       0.        , 0.        , 0.10968075, 0.02806606, 0.04521795,
       0.06876131, 0.01331627, 0.10519138, 0.03349457, 0.01363458,
       0.23669374, 0.        , 0.10397941, 0.06167753, 0.11661083,
       0.08331012, 0.00850895, 0.06715433, 0.        , 0.15850821,
       0.0328052 , 0.01068915, 0.02579782, 0.02114859, 0.02687779,
       0.02175821, 0.        , 0.01601663, 0.04768603, 0.05819184,
       0.06510722, 0.        , 0.0476705 , 0.05273165, 0.0281001 ,
       0.06524573, 0.02116345, 0.02097868, 0.07422249, 0.01752778,
       0.03734567, 0.01579666, 0.11039448, 0.16527277, 0.15514319,
       0.06237454, 0.08139489, 0.05655414, 0.07458203, 0.03771888,
       0.0593633 , 0.02955369, 0.03355603, 0.04734093, 0.01006643,
       0.01671982, 0.07258935, 0.        , 0.        , 0.        ,
       0.02428501, 0.03067819, 0.0997498 , 0.        , 0.01690152,
       0.02410862, 0.0281084 , 0.        , 0.        , 0.01812877,
       0.02880827, 0.05995157, 0.02127671, 0.1034119 , 0.02766748,
       0.10684795, 0.09898722, 0.14145186, 0.05007429, 0.09428289,
       0.01411249, 0.07835976, 0.00882242, 0.04515898, 0.        ,
       0.01281412, 0.04003334, 0.07477661, 0.01217906, 0.01887393,
       0.02667484, 0.01432864, 0.14702847, 0.06087282, 0.02578321,
       0.02741876, 0.        , 0.14909595, 0.05606788, 0.        ,
       0.03199916, 0.03643817, 0.        , 0.01962921, 0.22222254,
       0.01515845, 0.09673268, 0.02190023, 0.02013549, 0.05400331,
       0.07262017, 0.01111637, 0.03649872, 0.05994664, 0.        ,
       0.14691167, 0.02086005, 0.10359635, 0.09794375, 0.06609997,
       0.12871083, 0.08992739, 0.01147457, 0.02460165, 0.        ,
       0.18049207, 0.05141892, 0.0477174 , 0.10849696, 0.13278139,
       0.05915288, 0.05372984, 0.034785  , 0.        , 0.09203039,
       0.06388401, 0.04773328, 0.15570975, 0.08420691, 0.12338217,
       0.0878469 , 0.08205945, 0.02433703, 0.00272862, 0.        ,
       0.03671505, 0.15280984, 0.0370943 , 0.07458136, 0.09746697,
       0.05416091, 0.10266993, 0.07574414, 0.06426526, 0.0360174 ,
       0.01559752, 0.02033559, 0.02463593, 0.        , 0.02135369,
       0.0190337 , 0.06806265, 0.02032116, 0.11784706, 0.07839488,
       0.08422558, 0.        , 0.02040796, 0.        , 0.04698246,
       0.08294513, 0.13974514, 0.01234525, 0.13510608, 0.07423489,
       0.11841889, 0.04930091, 0.01621668, 0.02633023, 0.04815972,
       0.01959826, 0.10174253, 0.13257638, 0.        , 0.0551027 ,
       0.0186115 , 0.        , 0.04504598, 0.03482459, 0.16503292,
       0.08466191, 0.06795353, 0.02987653, 0.        , 0.        ,
       0.08781993, 0.07885279, 0.04799058, 0.01467964, 0.02123837,
       0.04549923, 0.08673969, 0.00885998, 0.02880637, 0.02022145,
       0.02414122, 0.12548312, 0.        , 0.02482518, 0.06520606,
       0.        , 0.0606983 , 0.13974105, 0.01978844, 0.01260824,
       0.08608601, 0.04433883, 0.02943085, 0.02242496, 0.06541868,
       0.07866868, 0.14281399, 0.11979305, 0.01858409, 0.13445377,
       0.09790644, 0.        , 0.17415731, 0.07437756, 0.        ,
       0.12389065, 0.01042391, 0.02580849, 0.        , 0.0895139 ,
       0.04005551, 0.19182231, 0.02267512, 0.01730347, 0.03054044,
       0.07008822, 0.10084626, 0.10467615, 0.01683462, 0.12468283,
       0.10266459, 0.03549836, 0.02667484, 0.07652765, 0.08474056,
       0.01831977, 0.02177482, 0.15293362, 0.        , 0.        ,
       0.01063251, 0.02153089, 0.02946443, 0.        , 0.02076783,
       0.01194825, 0.00953675, 0.2067554 , 0.01554292, 0.0390266 ,
       0.06681046, 0.09014973, 0.05914735, 0.06206857, 0.        ,
       0.02005959, 0.07843566, 0.16337845, 0.07161075, 0.        ,
       0.14595258, 0.02939738, 0.04779629, 0.01807238, 0.11362722,
       0.09791273, 0.07999693, 0.08912337, 0.10941777, 0.        ,
       0.02115842, 0.0600393 , 0.01797154, 0.05755408, 0.02166863,
       0.09754449, 0.13107652, 0.        , 0.06829904, 0.09132922,
       0.        , 0.02781406, 0.01533368, 0.06113179, 0.01757286,
       0.0180158 , 0.11789806, 0.06468143, 0.13904191, 0.        ,
       0.06671644, 0.        , 0.        , 0.05762086, 0.02266096,
       0.00844876, 0.02297481, 0.07136276, 0.15305514, 0.06039874,
       0.        , 0.08996912, 0.01545947, 0.10135299, 0.        ,
       0.01676344, 0.        , 0.0502188 , 0.16041182, 0.        ,
       0.13439733, 0.12508514, 0.02329035, 0.0198727 , 0.01105674,
       0.02548034, 0.00896044, 0.08246122, 0.01902896, 0.07025003,
       0.0216367 , 0.12822982, 0.09998772, 0.06355197, 0.02883024,
       0.04335826, 0.0470659 , 0.05223733, 0.08982751, 0.00875634,
       0.09923542, 0.10228551, 0.        , 0.12307492, 0.01758929,
       0.02028125, 0.1033827 , 0.13028171, 0.08988894, 0.09005001,
       0.05332049, 0.08033436, 0.04597795, 0.06139888, 0.02304904,
       0.06523041, 0.01915363, 0.        , 0.04542766, 0.        ,
       0.        , 0.05261954, 0.01317088, 0.        , 0.        ,
       0.0485931 , 0.0734819 , 0.10354481, 0.01718807, 0.09919937,
       0.08091989, 0.00358835, 0.11122765, 0.05143481, 0.0566614 ,
       0.        , 0.06087719, 0.10800615, 0.        , 0.07554686,
       0.        , 0.13644384, 0.04796763, 0.16104067, 0.01759864,
       0.05438295, 0.        , 0.08100801, 0.13090711, 0.00581844,
       0.07150547, 0.05428487, 0.06143184, 0.05161653, 0.1951182 ,
       0.1149488 , 0.06513047, 0.06401961, 0.        , 0.        ,
       0.10853662, 0.11400426, 0.0463925 , 0.01825277, 0.        ,
       0.01195201, 0.21057744, 0.05809707, 0.04349156, 0.02646256,
       0.07276403, 0.05264857, 0.07242165, 0.06790898, 0.01626564,
       0.02431809, 0.02093565, 0.13617057, 0.11784149, 0.08588206,
       0.09284352, 0.11277297, 0.06868983, 0.08200947, 0.13369059,
       0.        , 0.19972625, 0.02286207, 0.0806288 , 0.        ,
       0.05756015, 0.06738056, 0.19656288, 0.06306426, 0.03499381,
       0.06123119, 0.02180168, 0.02317515, 0.06476149, 0.07052241,
       0.08280452, 0.1700872 , 0.07213921, 0.01172201, 0.08541218,
       0.17990898, 0.08007284, 0.01739625, 0.16728777, 0.26396194,
       0.1840891 , 0.05600273, 0.04133586, 0.06911015, 0.14456847,
       0.22626397, 0.19208896, 0.0239334 , 0.20025064, 0.01507653,
       0.05144282, 0.1233368 , 0.1420166 , 0.02472079, 0.08563805,
       0.02363426, 0.12794024, 0.01083153, 0.07352436, 0.03421895,
       0.07194212, 0.02297079, 0.15344079, 0.08856302, 0.        ,
       0.        , 0.01878656, 0.09772942, 0.04404359, 0.15211972,
       0.0152225 , 0.10307399, 0.05715789, 0.04600056, 0.06303899,
       0.06572303, 0.14421331, 0.        , 0.04203701, 0.02276077,
       0.17381829, 0.01909967, 0.16000268, 0.        , 0.05940546,
       0.07725115, 0.07464763, 0.06546696, 0.07021577, 0.18921368,
       0.02494136, 0.01705027, 0.05437622, 0.04932819, 0.        ,
       0.11445399, 0.08001595, 0.12858515, 0.02306658, 0.06129105,
       0.02090769, 0.04550867, 0.1026659 , 0.10725982, 0.0260534 ,
       0.00173709, 0.0987294 , 0.08077482, 0.02159226, 0.01614275,
       0.0208464 , 0.09797466, 0.01906731, 0.18571699, 0.05344577,
       0.18925314, 0.05894189, 0.01488161, 0.1202478 , 0.09840359,
       0.01048126, 0.10596224, 0.07617195, 0.0805439 , 0.        ,
       0.23299389, 0.01073642, 0.13573542, 0.04578552, 0.14440017,
       0.        , 0.12522954, 0.0645501 , 0.02817522, 0.14445559,
       0.01721045, 0.09508161, 0.0517902 , 0.18410818, 0.08704224,
       0.10850377, 0.03954865, 0.0383631 , 0.02463491, 0.07845405,
       0.03455548, 0.03007681, 0.02484076, 0.04223674, 0.14444517,
       0.12340234, 0.01510201, 0.0284437 , 0.02132016, 0.07391778,
       0.08904276, 0.15893871, 0.06947574, 0.01060787, 0.        ,
       0.09993169, 0.05711356, 0.09488374, 0.13365876, 0.05794064,
       0.        , 0.06721284, 0.02066998, 0.        , 0.01839428,
       0.        , 0.12655364, 0.08418288, 0.09095705, 0.00730589,
       0.08143881, 0.        , 0.04218803, 0.08392849, 0.07785801,
       0.07151794, 0.02407593, 0.01635126, 0.03734567, 0.05237227,
       0.01140169, 0.00968725, 0.12530648, 0.00909905, 0.05864096,
       0.01769644, 0.12110367, 0.07347567, 0.04316046])

In [51]:
def recommender(book_name):
    idx = np.where(pt.index == book_name)[0][0]
    similar_books = sorted(list(enumerate(similarities[idx])), key=lambda x: x[1], reverse=True)[1:6]
    
    for i in similar_books:
        idx=i[0]
        print(pt.index[idx])

In [52]:
recommender("1984")

Animal Farm
The Handmaid's Tale
Brave New World
The Vampire Lestat (Vampire Chronicles, Book II)
The Hours : A Novel

In [53]:
import pickle
with open("similarities.pkl","wb") as f:
    pickle.dump(similarities,f)

In [54]:
with open("top_30_popular_book.pkl","wb") as f:
    pickle.dump(top_30_popular_book,f)

In [55]:
with open("pt.pkl","wb") as f:
    pickle.dump(pt,f)

In [56]:
import gzip

In [57]:
with gzip.open("book_with_rating.pkl.gz", "wb", compresslevel=9) as f:
    pickle.dump(book_with_rating, f)